<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/logo.png"> -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

    <title>About Me</title>

    <link href="./static/design.css" rel="stylesheet">
</head>

<body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
        <nav class="navbar  navbar-fixed-top navbar-default">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav ">
                        <li><a href="/" title="">01 : Home</a></li>
                        <li><a href="./profiles.html" title="">02 : Profiles</a></li>
                        <li><a href="./projects.html" title="">03 : Projects</a></li>
                        <li><a href="./about.html" title="">04 : About me</a></li>
                        <li><a href="./contact.html" title="">05 : Contact</a></li>
                    </ul>


                </div>
            </div>
        </nav>
    </header>

    <div class="section-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-container-spacer text-center">
                        <h1 class="h2">About me</h1>
                        <p> 2+ years of industry experience with 12+ months of experience as an ML and Computer Vision Intern. 
                            I hope to focus more on Deep Learning and pursue a professional career in the same. My interest lies in solving real-world challenges in a manner that would
                            take all the possible constraints into consideration.</p>
                    </div>

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div  class="col-xs-12 col-md-6">
                                    
                                    <h3>EXPERIENCE:</h3>
                                    <h3><a href="https://wobot.ai/" target="_blank">Wobot.ai</a></h3>
                                    <h4>Computer Vision Intern - August 2022 - Present</h4>
                                        <p>
                                            <li style="font-size:125%;">Working towards replacing Human monitoring tasks with AI, using cameras and powerful algorithms to generate real-time insights.</li>
                                            <li style="font-size:125%;">Carrying out research with core and advanced-level computer vision concepts for classification and feature extraction.</li>
                                        </p>
                                    
                                    <h3><a href="https://www.schnellabs.com/" target="_blank">Schnell Labs</a></h3>
                                    <h4>Machine Learning and Computer Vision Intern - January 2022 - August 2022</h4>
                                        <p>
                                            <li style="font-size:125%;">Actively worked towards building Deep Learning models and model selection for Object Detection along with Dataset gathering.</li>
                                            <li style="font-size:125%;">Programmed the entire pipeline for the project, in conjunction with Object-Oriented Programming concepts.</li>
                                            <li style="font-size:125%;">Actively involved in daily standup calls and project-related discussions.</li>
                                            <li style="font-size:125%;">Maintained a private GitHub repo for code updation and documentation work.</li>
                                        </p>
                                    
                                    <h3><a href="https://www.svrinfotech.net/" target="_blank">SVR InfoTech</a></h3>
                                    <h4>Robotics Software Intern - Oct 2020 - January 2022.</h4>
                                        <p>
                                            <li style="font-size:125%;">Led the AI and electronics section in the Industry 4.0 project, which was a huge success for the organization. </li>
                                            <li style="font-size:125%;">Actively conducted training sessions for clients and pool webinars which added to the company's revenue model. </li>
                                        </p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <h3>SKILLS:</h3>
                                    
                                    <h4>Key Skills: <h4>
                                        <p>Reviewing Research papers and Documentation.</p>
                                        
                                    <h4>Programming: <h4>
                                    
                                    <p> <h4 style="display:inline;">Language:</h4> <font size=2>Python </font></p>
                                    <p> <h4 style="display:inline;">Python Libraries:</h4> <font size=2>Numpy, OpenCV, Matplotlib, Pandas, Scikit-image, NLTK </font></p>
                                    <p> <h4 style="display:inline;">Python Frameworks:</h4> <font size=2> PyTorch, Flask, Tensoflow</font></p>
                                
                                    <h4 style="display:inline;">Operating Systems:</h4> 
                                    <p>Windows, Linux</p>

                                    <h4>Machine Learning and Deep Learning Techniques:</h4>
                                    <p><h4 style="display:inline;">Algorithms:</h4> <font size=2>Regression, Supervised and Unsupervised Classification, CNN, RNN, ANN, Transformers, Autoencoders, NLP, Object Re-Identification</font></p>
                                    <p><h4 style="display:inline;">Techniques:</h4> <font size=2>Data Preprocessing, Data Visualization, Fine Tuning and Transfer Learning, EDA, Model tuning, Unsupervised Pre-training</font></p>
                                    
                                    <p><h4 style="display:inline;">Tools:</h4> <font size=2>Docker, Tensorboard, GitHub, Data Studio for BI, Jupyter </font></p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            navActivePage();
        });
    </script>

    <script type="text/javascript" src="./static/main.js"></script>
</body>

</html>