<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

    <title>MY PROFILES</title>

    <link href="./static/design.css" rel="stylesheet">
</head>

<body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
        <nav class="navbar  navbar-fixed-top navbar-default">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav ">
                        <li><a href="/" title="">01 : Home</a></li>
                        <li><a href="./profiles.html" title="">02 : Profiles</a></li>
                        <li><a href="./projects.html" title="">03 : Projects</a></li>
                        <li><a href="./about.html" title="">04 : About me</a></li>
                        <li><a href="./contact.html" title="">05 : Contact</a></li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <div class="section-container">
        <div class="container">
            <div class="row">

                <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
                    <div class="text-center">
                        <h1 class="h2">02 : Profiles</h1>
                        <p></p>
                    </div>
                </div>

                <div class="col-md-12">

                    <div id="myCarousel" class="carousel slide projects-carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-sm-4">

                                        <a href="https://medium.com/@mohit_gaikwad" target="_blank" title="" class="black-image-project-hover">
                                            <img src="./static/assets/images/medium.png" alt="" class="img-responsive">
                                        </a>
                                        <div class="card-container card-container-lg">
                                            <h4>001/005</h4>
                                            <h3>Medium</h3>
                                            <a href="https://medium.com/@mohit_gaikwad" target="_blank" title="" class="btn btn-default">Discover</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="https://www.youtube.com/@howtodoitdifferently3649" target="_blank" title="" class="black-image-project-hover">
                                            <img src="./static/assets/images/youtube.png" alt="" class="img-responsive">
                                        </a>
                                        <div class="card-container card-container-lg">
                                            <h4>002/005</h4>
                                            <h3>YouTube</h3>
                                            <a href="https://www.youtube.com/@howtodoitdifferently3649" target="_blank" title="" class="btn btn-default">Discover</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="https://www.linkedin.com/in/mohitgaikwad2804/" target="_blank" title="" class="black-image-project-hover">
                                            <img src="./static/assets/images/linkedin.png" alt="" class="img-responsive">
                                        </a>
                                        <div class="card-container card-container-lg">
                                            <h4>003/005</h4>
                                            <h3>LINKEDIN</h3>
                                            <a href="https://www.linkedin.com/in/mohitgaikwad2804/" target="_blank" title="" class="btn btn-default">Discover</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--/item-->
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <a href="https://stackoverflow.com/users/16941925/mohit-gaikwad" target="_blank" class="black-image-project-hover">
                                            <img src="./static/assets/images/stack.png" alt="Image" class="img-responsive">
                                        </a>
                                        <div class="card-container">
                                            <h4>004/005</h4>
                                            <h3>Stack Overflow</h3>
                                            <a href="https://stackoverflow.com/users/16941925/mohit-gaikwad" target="_blank" class="btn btn-default">Discover</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <a href="https://github.com/Mohit-robo" target="_blank" class="black-image-project-hover">
                                            <img src="./static/assets/images/github.png" alt="Image" class="img-responsive">
                                        </a>
                                        <div class="card-container">
                                            <h4>005/005</h4>
                                            <h3>Github</h3>
                                            <a href="https://github.com/Mohit-robo" target="_blank" class="btn btn-default">Discover</a>
                                        </div>
                                    </div>

                                </div>

                            </div>  

                        </div>

                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

                        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                    </div>



                    <!--/myCarousel-->
                </div>



            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            navActivePage();
        });
    </script>


    <script type="text/javascript" src="./static/main.js"></script>
</body>

</html>