<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/logo.png"> -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

    <title>PROJECTS</title>

    <link href="./static/design.css" rel="stylesheet">
</head>

<body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
        <nav class="navbar  navbar-fixed-top navbar-default">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav ">
                        <li><a href="/" title="">01 : Home</a></li>
                        <li><a href="./profiles.html" title="">02 : Profiles</a></li>
                        <li><a href="./projects.html" title="">03 : Projects</a></li>
                        <li><a href="./about.html" title="">04 : About me</a></li>
                        <li><a href="./contact.html" title="">05 : Contact</a></li>
                    </ul>


                </div>
            </div>
        </nav>
    </header>

    <div class="section-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-container-spacer text-center">
                        <h1 class="h2">Projects</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div  class="col-xs-12 col-md-6">
                                    
                                    <h3>Object re-identification:</h3>
                                        <p>
                                            <li style="font-size:125%;">Worked with supervised and unsupervised object re-identification for the use cases. </li>
                                            <li style="font-size:125%;">Carried out research for appropriate feature extractors, similarity metrics, clustering techniques, 
                                                and researching novel approaches to carry out the task.</li>
                                        </p>
                                    
                                    <h3>Automatic Traffic Surveillance: </h3>
                                        <p>
                                            <li style="font-size:125%;">Worked towards creating a fully automated system to monitor Road Traffic using Computer Vision and Deep Learning.</li>
                                            <li style="font-size:125%;">Tools and platforms involved in the project:
                                                <ol style="list-style-type: lower-alpha; padding-bottom: 0;">
                                                    <li style="margin-left:2em" style="font-size:125%;">Computer Vision, Python, MySql, BI Tools, Raspberry Pi.</li>
                                                </ol>
                                        </p>
                                    
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <h3>Industry 4.0:</h3>
                                        <p>
                                            <li style="font-size:125%;">Conceptualized, proposed, designed, and developed a prototype of an autonomous factory system with AI and Computer Vision being the vital part.</li>
                                            <li style="font-size:125%;">The dual process of sorting, and a four-bar assembly system, using  Computer Vision was performed.</li>
                                            <li style="font-size:125%;">Worked with Linux OS-integrated Jetson Nano, Jetson Xavier NX, and Raspberry PI development boards.
                                            </li>
                                        </p>
                                    
                                    <h3>ChatBot:</h3>
                                        <p>
                                            <li style="font-size:125%;">Designed a chatbot using NLP techniques.</li>
                                            <li style="font-size:125%;">The chatbot is designed for a commerical store purpose, but can be easily modified for other purposes aswell.</li>
                                            <li style="font-size:125%;">Tools and platforms involved in the project:
                                                <ol style="list-style-type: lower-alpha; padding-bottom: 0;">
                                                    <li style="margin-left:2em" style="font-size:125%;">NLP, Python, Pre-Processing.</li>
                                                </ol>
                                        </p>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            navActivePage();
        });
    </script>

    <script type="text/javascript" src="./static/main.js"></script>
</body>

</html>